@import 'bootstrap/dist/css/bootstrap.min.css';

@font-face {
  font-family: 'Istok Web';
  src: url('/fonts/IstokWeb-Regular.ttf') format('truetype');
  font-weight: normal;
}

@font-face {
  font-family: 'Istok Web';
  src: url('/fonts/IstokWeb-Bold.ttf') format('truetype');
  font-weight: bold;
}

body * {
  font-family: 'Istok Web', sans-serif;
  margin: 0;
  padding: 0;
  background-color: #FFF6DF;
}

.modal {
    z-index: 1055 !important;
}
.modal-backdrop {
    z-index: 1050 !important;
}
.modal-dialog {
    z-index: 1056 !important;
  position: relative;
}
.modal-content {
    z-index: 1057 !important;
    position: relative;
}

.paginasi * {
  background-color: transparent;
}

a.page-link {
  background-color: white !important;
  color: #232323 !important;
}

span.page-link {
  color: white !important;
  background-color: #EEB521  !important;
  border-color: #EEB521 !important;
}